<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Todo App</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body ng-app="ToDo">
    <div ng-controller="todo_Controller" class="container">
    <div class="tasks">
        <input type="text" ng-model="search" placeholder="Search task..." class="search">
        
        <ul>
            <li ng-repeat="todo in todos | filter: search" class="tasks_text">
                <input type="checkbox" ng-model="todo.done">
                <span ng-class="{'done':todo.done}">{{todo.title}}</span>
                <span style="margin-left:50%;">{{todo.date | date: short}}</span>
            </li>
        </ul>
    </div>
        <form class="add" name="frm" ng-submit="addTodo()">
                <input type="text" name="newtodo" ng-model="newTodo" placeholder="Write task" required>
                <input type="date" ng-model="todo_date" required>
                <button ng-disabled="frm.$invalid" class="task_add">Add Task</button>
        </form>
        <button ng-click="clearCompleted()" class="clear">Clear Completed</button>
    </div>
        
    </div>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"></script> 
   <script src="./app.js"></script>
</body>
</html>