@import url('https://fonts.googleapis.com/css?family=Open+Sans');
body{
    font-family: 'Open Sans', sans-serif;
    background-size: cover;
    background-image: url(./img/sky_day.jpg);
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    text-align:center;
}
.container{
    margin:10px auto;width:50%;
}
ul{ 
    padding-left:0!important; 
    list-style-type: none;
}
.done{text-decoration: line-through;color:#ccc}
.add{
    padding: 10px;
    background-color:crimson;
}
.add input{
    width:50%;
    margin:5px;
}
.tasks{
    overflow-y: scroll;
    font-size: 1.5em;
    text-align: left;
    padding-left:10%;
    height: 50vh;
    background-color:rgba(221, 67, 67, 0.7);
    padding-top: 30px;
}